body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: rgba(249, 216, 123, 0.772);
}

form {
  margin: 0 auto;
  text-align: left;
  width: 50%;
}

label {
  display: block;
  margin-bottom: 8px;
}

select {
  width: 100%;
  padding: 12px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  font-size: x-large;
  }


.hidden {
  display: none;
}

p {
  font-size: x-large;
}

div {
  font-size: xx-large;
}

h1 {
  background-color: aqua;
}